# node / package
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# build output
dist/
build/
*.tsbuildinfo

# IDEs / OS
.vscode/
.idea/
.DS_Store

# env and logs
.env
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# testing zone
example
